@charset "utf-8";
/* CSS Document */

.body{
	background-color: rgba(85,85,85,0.70);
  	height: 130vh;
	width: 100%;
	top: 0;
	left: 0;
	color: white;
}

.body .opc{
	background-color: rgba(0,0,0,0.50);
  	height: 130vh;
	width: 100%;
}

.sub-title{
	color: rgba(0,255,0,1.00);
	font-size: 28px;
}

.sub-title-2{
	color: #888;
	font-size: 18px;
}

.content{
	padding: 20px!important;
	margin-top: 20px!important;
	margin-bottom: -5px!important;
	margin-left: -20px!important;
	margin-right: 4px!important;
	background-color: #111;
	font-size: 14px;
	cursor: pointer
}

.content:hover{
	background-color: black;
}

.content-txt{
	color: #888!important;
}

.fa-chevron-right{
	color: #888;border: none
}
.cpyright{
	color: #555;
	font-size: 12px;
}

.cpyright a{
	color: #555;
	text-decoration: none
}

.cpyright a:hover{
	color: white;
	text-decoration: none
}

.spt .cpyright a{
	color: #888!important;
	text-decoration: none
}

.spt .cpyright a:hover{
	color: white!important;
	text-decoration: none
}

.razercom{
	color: white;
	text-decoration: none;
}

.razercom:hover{
	color: white;
	text-decoration: none;
}

::placeholder{
	color:#555;
}

.btnedit:hover{
	opacity: 0.6;
}