#dropdown:hover> #dropdown-menu{
	display: block;
	z-index: 99;
	margin-top: -8px;
	animation: load 0.5s forwards;
}



nav .menu-icon{
	width:24px;
	height:24px;
	display: inline-block;
	margin: 20px;
}

#dropdown-menu li{
	margin-top: 10px;
}

#dropdown:hover{
	color: white
}

#bodas{
	color: #888;
}

nav li{
	font-family: "Titillium";
}

#us:hover{
	color: white;
}

#bodas:hover{
	background-color:black;
	color: white;
}

@keyframes load{
	0%{
		transform:translatey(-400px);
	}
	100%{
		transform:translatey(0px);
	}
}

.sub-menu{
	background-color: black!important;
	margin-top:-15.5px!important;
	width: 310px;
	height: 140px;
	margin-left: -206px!important;
	padding: 0px;
	border-radius: 0px!important;
}

.dropdown-divider{
	width: 90%;
	border-color: #333!important;
}

.itm{
	color: #888!important;
	font-size: 100%;
	text-decoration: none
}

a.itm:hover{
	text-decoration: none;
	color: white!important;
}

#txt-razer{
	color: #01CD01!important;
	font-size: 20px;
	font-family: Titillium;
	padding: 0px 13px 0px 13px;
}