.dropdown:hover> .dropdown-menu{
	display: block;
	z-index: 99;
	margin-top: -8px;
	animation: load 0.5s forwards;
}

nav .menu-icon{
	width:24px;
	height:24px;
	display: inline-block;
	margin: 20px;
}

.dropdown-menu li{
	margin-top: 10px;
}

.dropdown:hover{
	color: white
}

#bodas{
	color: #888;
}

nav li{
	font-family: "Titillium";
}

#us:hover{
	color: white;
}

#sub-menu li:first-child{
	animation-delay: 10s;
}
.dropdown-menu:nth-child(2){
	animation-delay: 0.5s;
}
.dropdown-menu:last-child{
	animation-delay: 10s;
}
#bodas:hover{
	background-color:black;
	color: white;
}

@keyframes load{
	0%{
		transform:translatey(-400px);
	}
	100%{
		transform:translatey(0px);
	}
}